nav{
    margin-top: 0%;
    background-color: #01937C;
    
}
li a {
    
    width: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
 }

.onhover:hover{
    color: #B6C867;
}
